.mainCardContainer {
    /* margin-bottom: 50px; */
    padding: 0; 
    background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.gameMessage {
    text-align: center;
    max-width: 100%;
    align-content: center
}

.gameMessage p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-bottom: 0px;
}

.gameScores {
    text-align: center;
    max-width: 100%;
    align-content: center;
    margin-bottom: 10px;
}
.gameScores p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    background-color: blueviolet;
    color: white;
    padding: 20px 0;
    margin-bottom: 25px;
}